.loader {
    border-radius: 50%;
    width: 10em;
    height: 10em;

    &-small {
        width: 5rem;
        height: 5rem;
    }

    &-normal {
        width: 10rem;
        height: 10rem;
    }

    &-large {
        width: 13rem;
        height: 13rem;
    }

    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba($color-secondary, 0.2);
    border-right: 1.1em solid rgba($color-secondary, 0.2);
    border-bottom: 1.1em solid rgba($color-secondary, 0.2);
    border-left: 1.1em solid $color-secondary;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spiner-modal {
    width: 100%;
    height: 100vh;
    z-index: 90;
    background-color: $color-white;
    position: fixed;
    top: 0;
    left: 0;
}
