.m-top-small {
    margin-top: 2rem;
}

.m-top-medium {
    margin-top: 3rem;
}

.m-top-large {
    margin-top: 5rem;
}

.m-bottom-medium {
    margin-bottom: 3rem;
}

.m-bottom-small {
    margin-bottom: 2rem;
}

.m-center {
    margin: 0 auto;
}
