.u-pointer {
    cursor: pointer;
}

.u-center {
    display: flex;
    justify-content: center;
}

.u-center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
